/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/*import de home */
@import "../scss/html/home";

/* import de areas */
@import "../scss/html/areas";

/* import de staff */
@import "../scss/html/staff";

/* import de revista */
@import "../scss/html/revista";
