//import de variables
@import "../utlidades/vars";

//centrado
@mixin center{
    justify-content: center;
    align-items: center;
}

//footer
@mixin footer{
    text-align: center;
    margin: 15px;
    padding: 15px;
    color: $color-principal;
}

//estilos de section
