// paleta de colores

//color fondo
$bg-color: #B4CFB0;

// color fondo visionValores
$color-vision: #54665b;

//color principal
$color-principal: #496063;

//color secundario
$color-secundario: #567475;

//color overline areas
$color-overa: #DBE4C6;

//color pag de interes
$color-links: #083041;
$color-visited: #3b4740;
