//import de utilidades
@import "../utlidades/mq";
@import "../utlidades/vars";
@import "../utlidades/mixin";
@import "../utlidades/extend";

body{
    background-color: $bg-color;
    /* estilos de menu */
    .colorTitle{
        color: $color-principal;
    }
    .colorMenu{
        color: $color-principal;
        &:hover{
            color: $color-principal;
            border-bottom: 2px solid $color-principal;
        }
    }

    /* estilo de titulos principales */
    h1{
        color: $color-principal;
        text-decoration: overline;
    }

    /* estilos de footer */
    footer{
        @include footer;
        div{
            a{
                color: $color-principal;
                text-decoration: none;
            }
        }
    }

    /* estilos del index */
    .descripcion{
        display: flex;
        @include center;
        height: 50vh;
        background: url(../img/martillo.jpg) center;
        background-size: cover;

        @include tablet{
            height: 450px;
        }

        h1{
            text-decoration: none;
            text-align: center;
            font-size: 1.4rem;
            @include center;
            color: $bg-color;
            border: 1px solid $bg-color;
            box-shadow: 0 0 10px #222;
            backdrop-filter: blur(15px);
            margin: 3rem;
            padding: 1.4em;

            @include tablet{
                text-transform: uppercase;
                margin: 6.5rem;
            }

            @include pc{
                font-size: 2rem;
                span{
                    display: block;
                }
            }
           
        }
    }

    section{
        @include grid;

        @include tablet{
            grid-template-columns: 43% 51%;
            grid-template-rows: repeat(2, 47%);
        }

        @include pc{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 47%);
        }

        .compromiso{
            background-color: $color-secundario;
            background-size: contain;
            align-items: center;
            padding: 3em;
            gap: 20px;
            font-size: 1em;
            @include center;

            @include tablet{
                grid-column: span 2;
            }

            @include pc{
                grid-column: span 3;
            }

            h2{
                text-decoration: overline;
                text-shadow: 10px #222;
                text-align: left;
                color: whitesmoke;
            }
            p{
                text-align: justify;
                text-decoration: dashed;
                margin-bottom: 30px;
                color: whitesmoke;
                font-size: 1rem;

                @include pc{
                    font-size: 1.1rem;
                    margin: 2.5rem;
                }
            }
        }

        .imgDos{
            display: none;

            @include tablet{
                display: inline-block;
                grid-column: span 1;
                text-align: center;
                margin: 0.2em;
                align-self: center;
                img{
                    justify-content: center;
                    width: 80%;
                    height: 80%;
                }
            }
           
        }

        .visionValores{
            background-color: $color-vision;
            margin: 1em;
            padding: 1em;
            gap: 20px;
            font-size: 1em;
            text-align: center;
            justify-content: center;
            border-radius: 5px;

            @include tablet{
                grid-column: span 1;
            }

            @include pc{
                grid-column: span 2;
            }

            h3{
                color: white;
                margin-right: 3rem;
                text-transform: uppercase;
                text-align: right;
            }
            p{
                text-align: justify;
                color: white;
                margin: 2rem;
                gap: 2rem;
                font-size: 1.1em;
            }
        }
    }
    
}